$comm1-txt-color:  rgb(0, 0, 0);
.elemnt{
    position: relative;
    text-align: center;
    color: white;
}
// .neon{
//     color: #fff;
//     text-shadow:
//       0 0 5px $navbar-brand-color,
//       0 0 15px #000,
//       0 0 20px #fff,
//       0 0 20px #0ff,
//       0 0 20px #0ff,
//       0 0 20px #0ff,
//       0 0 20px #0ff,
//       0 0 20px #0ff;
// }
.shop{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    a{
        color: $comm1-txt-color;
        // text-shadow: 2px 2px 0px #e1c127;
        text-decoration: none;
        // text-shadow: 2px 3px 3px $navbar-brand-color;
        font-size: 1.5rem;
    }
    p{
        color: $comm1-txt-color;
        // text-shadow: 2px 2px 0px #e1c127;
        text-decoration: none;
        // text-shadow: 2px 3px 3px $navbar-brand-color;
        font-size: 1.5rem;
    }
}


.hover-rotate {
    overflow: hidden;
    margin: 8px;
    width: 100%;
  }
  
  .hover-rotate img {
    transition: all 0.3s;
    box-sizing: border-box;
    max-width: 100%;
  }
  
  .hover-rotate:hover img {
    transform: scale(1.3) ;
    // transform: rotate(5deg);
  }


  @each $size in map-keys($grid-breakpoints) {
    @include media-min($size) {
      .shop{
        a{
          @if $size == xs {
            font-size: 1.3rem;
          }
          @else if $size == sm {
            font-size: 1.4rem;
          }
          @else if $size == md {
              font-size: 1.5rem;
          }
          @else if $size == lg {
              font-size: 1.6rem;
          }
          @else if $size == xl {
            font-size: 1.8rem;
          }
        }
        p{
          @if $size == xs {
            font-size: 1.3rem;
          }
          @else if $size == sm {
            font-size: 1.4rem;
          }
          @else if $size == md {
              font-size: 1.5rem;
          }
          @else if $size == lg {
              font-size: 1.6rem;
          }
          @else if $size == xl {
            font-size: 1.8rem;
          }
        }
        
      }
    }
}
