<div class="d-flex justify-content-between align-items-center mb-5 title-section">
    <div class="mb-4 filters-title" > {{ _('Filters') }} </div>
    <a class="mb-4 clear-filters" href="/all-products">{{ _('Clear All') }}</a>
</div>
{% for field_filter in filters %}
	{%- set item_field =  field_filter[0] %}
	{%- set values =  field_filter[1] %}
	<div class="mb-4 filter-block pb-5">
		<div class="filter-label mb-3">{{ item_field.label }}</div>

		{% if values | len > 20 %}
		<!-- show inline filter if values more than 20 -->
		<input type="text" class="form-control form-control-sm mb-2 product-filter-filter"/>
		{% endif %}

		{% if values %}
		<div class="filter-options" data-filter="{{ item_field.fieldname }}">
			<!-- custom update for subcatgory -->
			{% if item_field.label == "Category" %}
			{% set item_group_list = []%}
			{% for value in values %}
                {% set item_group = frappe.get_doc("Item Group", value) %}
                {% if item_group.parent != 'All Item Groups' %}
				
                {% set item_group_list= item_group_list.append(item_group.parent)%}
				{% endif %}
            
			{% endfor %}
			{% endif %}

			{% if item_field.label == "Category" %}
			{% for group in item_group_list|unique %}
            {% set groupid = group %}
			<div style="margin-bottom: 5px">
				{% if group != None%}
                {% set groupid = groupid.replace("&", "_") %}
                {% set groupid = groupid.replace(" ", "_") %}
				<a data-toggle="collapse" style="padding-left: 5px;" href="#{{groupid}}" >{{group}}</a>
				
			</div>
				<div id="{{groupid}}" class="panel-collapse collapse ">
				{%else%}
				<a data-toggle="collapse" style="padding-left: 5px;" href="#all">All Groups</a>
				
			</div>
				<div id="all" class="panel-collapse collapse ">
				{% endif %}
				<!-- custom update for sorting filters alphabetically -->
				{% for value in values |sort(case_sensitive=False) %}
					{% set item_group = frappe.get_doc("Item Group", value) %}
					{%if item_group.parent == group or (item_group.parent=='All Item Groups' and group== None) %}
					<div class="checkbox" style="padding-left: 10px;" data-value="{{ value }}">
						<label for="{{value}}">
							<input type="checkbox"
								class="product-filter field-filter"
								id="{{value}}"
								data-filter-name="{{ item_field.fieldname }}"
								data-filter-value="{{ value }}"
								style="width: 14px !important">
							<span class="label-area">{{ value }}</span>
						</label>
					</div>
					{% endif %}
				{% endfor %}
				</div>
			{% endfor %}
			{% else %}
				{% for value in values |sort(case_sensitive=False) %}
					<div class="checkbox" data-value="{{ value }}">
						<label for="{{value}}">
							<input type="checkbox"
								class="product-filter field-filter"
								id="{{value}}"
								data-filter-name="{{ item_field.fieldname }}"
								data-filter-value="{{ value }}"
								style="width: 14px !important">
							<span class="label-area">{{ value }}</span>
						</label>
					</div>
				{% endfor %}
			{% endif %}
		<!-- end custom update -->	
		</div>
		{% else %}
		<i class="text-muted">{{ _('No values') }}</i>
		{% endif %}
	</div>
{% endfor %}
