{% extends "templates/web.html" %}
{% block title %}{{ _("Privacy Policy") }}{% endblock %}




{% block content %}
    <div id="page-about" style="color:black">
        <section class="section section-padding-top section-padding-bottom">
        <h1>Privacy Policy: </h1>
            <article style="margin-top: 50px;">
            <h3 style="color:black;">Standard Return Policy:</h3>
            <p>With our simple returns process, you can shop online worry-free.</p>
            <p>If something doesn’t work out, you can send most items back within 3 days of delivery.*</p>
            <ul>
                <li>Start the return process within 3 days of receiving your item</li>
                <li>We inspect all returned items. The product must be in new or unused condition, with all original product inserts and accessories.</li>
                <li>Shipping costs will be the responsibility of the customer in cases of buyer’s remorse returns, such as an item didn’t fit, didn’t like the color/quality, changed your mind, ordered by mistake, bought it somewhere else, etc.</li>
                <li>We will refund the cost of the merchandise and shipping charges if the return is a result of our error or defective product.</li>
                <li>Ship the product or send the product to us as soon as possible so it arrives at our facility within 3 days of receipt of the item</li>
            </ul>
            <div style="color:red; padding-left:8px; margin-bottom: 15px;">*You should note that this return policy does not apply to “Best Value” items where the best before dates are all stated on our website.</div>
        

            <h3 style="color:black;">How to Return an Item:</h3>
            <p>You may call us at <b>+6732332846</b> between <b>10:30 hrs to 17:00 hrs from Monday to Sunday.</b></p>

            <h3 style="color:black;">Defective Product and Returns Due to Manufacturer Error</h3>
            <p>If there are mistakes with your order, or products arrive defective/damaged at the time of receipt, we’ll make it right by:</p>
            <ul>
                <li>Sending you a replacement</li>
                <li>Replacing the product or </li>
                <li>Issue a refund** </li>
                <li>And we’ll also cover the cost of any return shipping</li>
                <li>If the product is not defective, return shipping fees will apply.</li>
            </ul>

            <h3 style="color:black;">Refund Policy:</h3>
            <ol>
                <li>
                    <h4 style="color:black;"><b>Damaged / Defective productv</b></h4>
                    <p>We inspect all returned items when they arrive at our processing facility. If your return is a result of an error or defective product, we will refund the full cost of the merchandise and original shipping charges.</p>
                </li>
                <li>
                    <h4 style="color:black;"><b>Product Unavailable</b></h4>
                    <p>Should you have paid full for an item that is not available in-store, we will refund the full cost of payment made by cash or via bank transfer</p>
                    <p>You can expect to receive your refund within four days of shipping your package back to us. In many cases you will receive a refund sooner, but we estimate four days based on these factors:</p>
                    <ul>
                        <li>When you prefer the refund to be via bank transfer</li>
                        <li>When your bank is other than Bank Islam Brunei Darussalam <b>(BIBD)</b></li>
                    </ul>
                    <p>You will be notified via email or/and WhatsApp message with the details of the refund and we will issue the refund back to the form of payment as <b>Cash</b> (which takes 2 days at most – Cash on Delivery).</p>
                    <p><b>Kensington BN</b> members enjoy free returns on selected items when they choose an in-store credit refund.</p>
                </li>
            </ol>
        </article>
        </section>
    </div>
{% endblock %}
