<footer class="web-footer">
    <div class="container-fluid text-center" >
        <div class="d-flex flex-column flex-md-row">
            <div class="col align-items-center d-flex flex-column  ">
                <div class="d-flex flex-column mw300  mb-3 ">
                    <div class="d-flex mb-3  flex-column ">
                        <div  class="font-weight-bold footer-txt">CALL US</div>
                        <div  class=" footer-details">+673 233 2846</div>
                    </div>
                    <div class="flex-column">
                        <div  class="font-weight-bold footer-txt text-nowrap">STORE LOCATION</div>
                        <div class="text-justify footer-details">Ground Floor, Unit 7 & 8, Block B, Aman Hills Complex, Jalan Aman, Kg Sg Tilong BC3315 Bandar Seri Begawan, Brunei</div>
                    </div>
                </div>
            </div>
            <div class="col align-items-center d-flex  flex-column ">
                <div  class="font-weight-bold footer-txt">EMAIL US</div>
                <div class="mb-3 text-wrap footer-details ">marketing@kensingtonbn.com</div>
    
                <div  class="font-weight-bold text-nowrap footer-txt">WORKING HOURS</div>
                <div class="footer-details">Monday– Sunday
                    <br>10:30 AM – 5:45 PM
                    <br>Friday
                    <br>closed between 12 pm to 2 pm</div>
            </div>
            <div class="col align-items-center d-flex flex-column mb-3 ">
                <div class="d-flex  flex-column ">
                    <div  class="font-weight-bold footer-txt">INFORMATION</div>
                    <a class="footer-details" href="/pages/privacy_policy">Policy</a>
                    <a class="footer-details" href="/about">About us</a>
                    <!-- <a class="footer-details" href="">Check out</a> -->
                    <a class="footer-details" href="/contact">Contact</a>
                </div>
            </div>
            <div class="col align-items-center d-flex flex-column mb-3 ">
                <div class="d-flex  flex-column ">
                    <div  class="font-weight-bold text-nowrap footer-txt">MY ACCOUNT</div>
                    <a class="footer-details" href="/me">My Account</a>
                    <a class="footer-details" href="/cart">Shopping cart</a>
                    <a class="footer-details" href="/all-products">Shop</a>
                    <a class="footer-details" href="/login">Login</a>
                    <a class="footer-details" href="/login#signup">Register</a>
                </div>
            </div>
            <div class="col align-items-center d-flex flex-column mb-3 ">
                <div class="d-flex  flex-column ">
                    <div  class="pb-2 font-weight-bold text-nowrap footer-txt">Payment Gateway</div>
                    <img src="/assets/kensingtonbn/images/payment-e1593780685330.png" alt="Payment Method">
                    <div  class="pt-2 pb-2 font-weight-bold text-nowrap footer-txt">We Accept</div>
                    <img src="/assets/kensingtonbn/images/accepted-payment-158x40.png" alt="Payment Method">
                </div>
            </div>
        </div>
        

    </div>
    {% include "templates/includes/footer/footer_links.html" %}
    {% include "templates/includes/footer/footer_info.html" %}

</footer>
