{% extends "templates/web.html" %}

{% block title %}{{ _("Payment Confirm") }}{% endblock %}

{%- block page_content -%}
<div class='page-card'>
	<div class='page-card-head'>
		<span class='indicator orange'>
			{{ _("In progress") }}</span>
	</div>
	<p>{{ payment_message or _("Your payment in progress") }}</p>
	{% if not payment_message %}
		<div>
			<a 
			   href='{{ frappe.form_dict.redirect_to or "/" }}'
			   class='btn btn-primary btn-sm'>
				{{ _("Continue") }}
			</a>
		</div>
	{% endif %}
</div>
<style>
{% include "templates/styles/card_style.css" %}
</style>
<script>
	frappe.ready(function() {
		if('{{ frappe.form_dict.redirect_to or "" }}'){
			setTimeout(function(){
				window.location.href = '{{ frappe.form_dict.redirect_to }}';
			}, 3000);
		}
	})
</script>
{% endblock %}
