<div class=" " >
    <div class="container " > 
        <div class="d-flex flex-column flex-md-row pb-4 pb-md-0 justify-content-between">
        {% for advertise in slideshow %} 
            <div class="col w-auto p-0 m-0  mt-4 m-md-4 comm rounded" style="background-color:{{ advertise.advertising_background_color }};">
                <div class="d-flex flex-row h-100 justify-content-between p-2" >
                    <div class=" align-self-center font-weight-bold">
                        {% if advertise.advertising_link %} 
                        <a href="{{ advertise.advertising_link }}" target="_blank">{% if advertise.advertising_text %} {{ advertise.advertising_text }} {% endif %}</a>
                        {% else %}
                        <p >{% if advertise.advertising_text %} {{ advertise.advertising_text }} {% endif %}</p>
                        {% endif %}
                        <!-- <a href="{{ advertise.advertising_link}}">{% if advertise.advertising_text %} {{ advertise.advertising_text }} {% endif %}</a> -->
                    </div>
                    <div class="d-flex  align-self-end ">
                    {% if advertise.advertising_link %} 
                        <a href="{{ advertise.advertising_link }}" target="_blank">
                        {% if advertise.advertising_image %}
                            <img src="{{ advertise.advertising_image }}">
                        {% endif %}
                        </a>
                    {% else %}
                        {% if advertise.advertising_image %}
                            <img src="{{ advertise.advertising_image }}">
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %} 
            
        </div>
    </div>
</div>
